<h1> All events </h1>

<ul>
<% @events.each do |event| %>
  <li><%= event.date %></li>
  <li><%= event.description %></li>
  <%= link_to "Show event", event_path(event.id) %>
  <%= link_to "Join Event",  join_path, {:id_user => event.id} %>
  <br> <br>
<% end %>
</ul>
